$base-color: #0A0A0A;
$ground-color: #2F2F31;
$element-size: 2em;
$sticker-size: 95%;
$rounded: 10%;
$cube-scale: 1.9;
$faces: (left: (0, -90, 180), right: (0, 90, 90), back: (0, 180, -90), front: (0, 0, 0), bottom: (-90, 0, -90), top: (90, 0, 180));
$colors: (blue: #001ca8, green: #006E16, white: #DDD, yellow: #E0AE00, orange: #FF5000, red: #DF0500);

html, body {
	height: 80%; 
	background-blend-mode: overlay;
	background-color: black;	
}


.credits {
	width: 100%;
	top: 90%;
}

.text {
	text-align: center;
	font: { family: Helvetica; size: .8rem; }
	color: grey;
	pointer-events: none;
}

.centered {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
}

.scene {
	width: 100%;
	height: 100%;
	perspective: 1200px;
	transform-style: preserve-3d;
	> .pivot {
		width: 0;
		height: 0;
		transition: .18s;
	}
	.anchor {
		width: $element-size;
		height: $element-size * 3;
	}
	div {
		position: absolute;
		transform-style: inherit;
	}
}

#piece4 > .element.top > .sticker {
	background-image: URL('http://i63.tinypic.com/25hh1xu.png');
	background-size: cover;
}

.cube {
	font-size: $cube-scale * 100%;
	margin-left: -$element-size / 2;
	margin-top: -$element-size / 2;

	> .piece {
		width: $element-size - .1em;
		height: $element-size - .1em;
		> .element {
			width: 100%;
			height: 100%;
			background: $base-color;
			outline: 1px solid transparent; // firefox aliasing
			border: .05em solid $base-color { radius: $rounded }
			@each $face, $angles in $faces {
					&.#{$face} {
						transform: rotateX + '(' + nth($angles, 1) + 'deg)'
											 rotateY + '(' + nth($angles, 2) + 'deg)'
											 rotateZ + '(' + nth($angles, 3) + 'deg)' translateZ($element-size / 2);
					}
			}
			> .sticker {
				@extend .centered;
				transform: translateZ(2px);
				width: $sticker-size;
				height: $sticker-size;
				border-radius: $rounded;
				outline: 1px solid transparent; // firefox aliasing
				box-shadow: inset .05em .05em .2rem 0 rgba(white, .25),
										inset -.05em -.05em .2rem 0 rgba(black, .25);
				@each $color, $value in $colors {
					&.#{$color} { background-color: $value }
				}
			}
		}
	}

}

/*Padrão*/

body{
    background-color: black;
}
.content{
    width: 60%;
    display: block;
    margin: 0 auto;
    text-align: center;
}
#curiosidades h2 a{
    text-decoration: none;
    color: #ffffff;
}
#metodo h2 a{
    text-decoration: none;
    color: #000;
}
::-webkit-scrollbar{
    background-color: black;
}
::-webkit-scrollbar-button{
    background-color: #000000;
}
::-webkit-scrollbar-track{
    background-color: #000000;
}
::-webkit-scrollbar-thumb{
    background-color: #ffffff;
}

/*Menu*/

#titulo{
    font-family: 'Yellowtail', serif;
    text-align: center;
    font-weight: 800;
    font-size: 25px;
    color: #ffffff;
}
#titulo a{
    text-decoration: none;
    color: #ffffff;
}
#menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
}
#menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
   padding-bottom: 10px ;
}
#menu ul li{
    padding: 0px 9px;
}
#menu ul li a{
    text-decoration: none;
    color: #ffffff;
}
#menu li a:hover{
    padding-top: -7px;
    border-bottom: 5px solid #ffffff;
}
#logo img{
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

/*Apresentação*/

.imagem{
    background-image: url(/EnsinandoMineiro/_imagens/cuboimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 620px;
    background-color: #00000066;
}
.explicacao{
    padding: 5em 0;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
.explicacao h1{
    font-size: 45px;
    font-weight: 800;
    font-family: 'Rajdhani', sans-serif;
}
.explicacao p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}


/*Metodo*/

#metodo{
    padding-top: 4em;
    padding-bottom: 2em;
    background-color: #ffffff;
    color: #000000;
}
#metodo  h2{
    font-size: 35px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 800;
    color: #000000;
    border: 1px solid #000000;
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    text-transform: uppercase;
    padding: 15px;
}
#metodo h3{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    padding-top: 3em;
}
#metodo p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #000000;;
    text-align: justify;
    padding: 5px 0;
}

/*Blocos*/

@media screen and (min-width: 728px) {

.paragraph{
   display: flex;
   flex-direction: row;
   padding: 3em 0;
}
.paragraph-2{
    display: flex;
    flex-direction: row;
}

.md-3{
    display: flex;
    flex-direction: column;
    max-width: 25%;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 3px;
    margin-right: 3px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
}
.md-3 span{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 800;
    font-size: 20px;
}
.md-3 p{
    font-family: 'Roboto', sans-serif;
}

/*Beneficios*/

#beneficios{
    background-image: url(./_imagens/separacao.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8em 0;
}
#beneficios h2{
    text-align: center;
    font-size: 33px;
    color: #ffffff;
    font-family: 'Rajdhani', sans-serif;
}
#beneficios p{
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    width: 60%;
    display: block;
    margin: 0 auto;
}

/*curiosidades*/

#curiosidades{
    padding: 5em 0;
}

#curiosidades h2{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 800;
    font-size: 35px;
    color: #ffffff;
    border: 1px solid #ffffff;
    width: 15%;
    display: block;
    margin: 0 auto;
    padding: 15px;
    text-transform: uppercase;
}
.curiosities h3{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    font-size: 25px;
    padding: 5px 0;
}
.curiosities p{
    text-align: justify;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}
@media screen and (min-width: 728px){

#attemption{
    display: flex;
    flex-direction: row;
    margin: 0 100px;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
}

.curiosities{
    display: flexbox;
    width: 45%;
    color: #ffffff;
    padding: 0 6em;
    height: 60vh;
}
}

/*Footer*/

#rodape{
    border-top: 2px solid #ffffff;
    padding: 2em;
    text-align: center;
}
#rodape p{
    color: #ffffff;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-align: center;
}
.marca{
    font-family: 'Yellowtail', serif;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
}
.alinhamento{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.container{
    position: relative;
    margin: 2em 0;
}
.chamada{
    width: 500px;
    padding: 20px;
    font-size: 24px;
    color: #ffffff;
    outline: none;
    border: 2px solid #ffffff;
    background-color: black;
}
.chamada:focus{
    border: none;
    outline: 2px solid #ffffff;
}
.chamada:focus + .novidade,
.chamada:valid + .novidade{
    top: -12px;
    left: 90px;
    font-size: 20px;
    padding: 0 10px;
    background-color: black;
}
.novidade{
    position: absolute;
    top: 20px;
    left: 100px;
    font-size: 25px;
    letter-spacing: 0.05em;
    pointer-events: none;
    font-weight: 600;
    font-family: sans-serif;
    transition: .4s;
    color: #ffffff;
}
#dados{
    display: block;
    margin: 0 650px;
}
.submit{
    width: 500px;
    padding: 20px;
    background-color: black;
    color: #ffffff;
    font-size: 20px;
    font-family: sans-serif;
    border: 2px solid #ffffff;
    font-weight: 600;
}